/*Estilos importados*/
@import url('Styles/header.css');
@import url('Styles/main.css');
@import url('Styles/footer.css');
@import url('Styles/universais.css');

/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*Variáveis*/
:root{
    --fontPadrao: "Karla", serif;
    --fontTitulo: "Rubik", serif;
    --c1: #ffffff;
    --c2: #000000;
    --c3: #e40000;
    --c4: #1b1b1b85;
    --c5: #fffdfd;
    --c6: #6e0e0e;
}

/*Regras*/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: var(--c5);
}
ul{
    margin: 0;
    list-style: none;
    padding: 0;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--fontTitulo);
}
a{
    font-family: var(--fontTitulo);
    text-decoration: none;
}
p, label, li{
    font-family: var(--fontPadrao);
}
span{
    font-family: var(--fontTitulo);
}
