/*Estilos importados*/
@import url('Styles/header.css');
@import url('Styles/main.css');
@import url('Styles/footer.css');

/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*Variáveis*/
:root{
    --cor1: #757575;
    --cor2: #ee2929;
    --cor3: #ffffff;
    --fontPadrao: "Karla", serif;
    --fontTitulo: "Rubik", serif;
}

/*Regras*/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
ul{
    margin: 0;
    list-style: none;
    padding: 0;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--fontTitulo);
}
a{
    font-family: var(--fontTitulo);
    text-decoration: none;
}
p, label{
    font-family: var(--fontPadrao);
}
span{
    font-family: var(--fontTitulo);
}
