/*Imagem de entrada da página*/
.imgEntrada{
    width: 100%;
    height: 10em;
    background-image: url(../Assets/Images/doces.jpg);
    background-size: 100%;
    border-bottom: 4px solid var(--cor2);
}

/*Header*/
header{
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}
header h1{
    width: 100%;
    margin: 0;
    text-align: center;
    color: var(--cor2);
    font-size: 3rem;
}