/*Main*/
main{
    display: flex;
    flex-flow: row wrap;
    padding: 2em 0;
}

/*Catálogo*/
.catalogo{
    width: 100%;
    position: relative;
}
.menu{
    display: flex;
    overflow: auto;
    background-color: var(--cor2);
    color: var(--cor3);
    justify-content: space-around;
    position: sticky;
    top: 0;
    box-shadow: 0px 5px 10px var(--cor1);
}
.menu li{
    border-bottom: 1px solid var(--cor4);
    padding: 1em;
    text-align: center;
    cursor: pointer;
}
.produtos{
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    justify-content: left;
    padding: 1em;
}
.produtos li{
    width: 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor3);
    box-shadow: 0px 5px 10px var(--cor1);
    border-radius: 5px;
    height: 15em;
    padding: 1em;
    justify-content: space-around;
}
.produtos li h3{
    font-size: 0.6rem;
    text-align: center;
}
.produtos li span{
    color: var(--cor2);
    font-weight: 700;
}
.produtos li img{
    width: 7em;
}