/*main*/
main{
    display: flex;
    flex-flow: row wrap;
}
main h2{
    margin: 2em 0;
    color: var(--c3);
    text-align: center;
    width: 100%;
    padding: 0 1em;
}

/*Prateleira para produtos de cozinha*/
.cozinha{
    background-image: url(../Assets/Images/fundoMadeira.jpg);
}

/*Prateleira para produtos refrigerantes*/
.refrigerantes{
    background-image: url(../Assets/Images/gelo.jpg);
}

/*Lista simplificada*/
.catalogo{
    display: flex;
    flex-flow: row nowrap;
}
.menu{
    position: sticky;
    top: 0;
    right: 0;
    height: 100vh;
    width: 12em;
    display: flex;
    flex-direction: column;
    background-color: var(--c3);
    color: var(--c1);
}
.menu li{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--c6);
    padding: 1em;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 0.5em;
    overflow-y: auto;
}
.menu li img{
    width: 1.3em;
}

@media screen and (max-width: 724px){

    /*Transforma o menu em icones*/
    .menu{
        width: 5em;
    }
    .menu li span{
        display: none;
    }

}